/* .banner{
    background-size: cover;
    background-image: url("https://image.tmdb.org/t/p/original/${movie?.backdrop_path");
    background-position: center;
} */

.banner{
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner-info{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3em;
    text-shadow: 2px 2px 5px black;
}

.banner-desc{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
    text-shadow: 2px 2px 5px black;
}

.banner-button{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius:0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
}

.banner-button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}



